/* Questo viene incorporato alle pagine, nel browser interagirà anche con gli elementi dell'homepage, quindi usate classi e ID */
:root{
    --header-bg: #ededed;
    --header-title: #000;
    --header-sub-title: #7a7a7a;
    --header-block-bg: #ededed;
    --resp-header-button-bg-a: #ededed;
    --resp-header-button-bg: #c6c5c5;

    --glow-title-1: rgb(92, 92, 92);
    --glow-title-2: rgba(202, 202, 204, 0.1);
    --glow-title-3: rgba(175, 172, 172, 0.05);
    --glow-title-4: rgba(222, 222, 227, 0.35);
    --glow-title-5: rgba(227, 227, 227, 0.3);
    --sub-color: #5c6063;

    --norm-dark: #040a0a;
    --light-border: #0b1314;
}

/* Barra di scorrimento principale */
::-webkit-scrollbar {
    width: 12px;
}

/* Traccia della scrollbar */
::-webkit-scrollbar-track {
    background: #0a0a0a;
    border-radius: 10px;
}

/* Thumb della scrollbar */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #202020, #262626);
    border-radius: 10px;
}

/* Thumb al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #282828, #282828);
}


header{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100px);
    transition: .4s ease-in-out;
    font-family: "Mulish", serif;
    z-index: 1;
}

.left {
    display: none;
}

.responsiveMenu {
    display: none;
}

.content{
    background: var(--header-bg);
    height: 100px;
    width: 100%;
}

.right>nav>ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 15px ;
    align-items: center;
    height: 100px;
}

.headerButton{
    transition: .2s;
    display: flex;
    align-items: center;
    height: 100px;
    border-top: 2px solid transparent;
}

.headerButton:hover{
    border-top: 2px solid var(--header-title);
}

.headerButton>a{
    text-decoration: none;
}

.headerButton>a>h5{
    color: var(--header-title);
    font-size: 20px;
    font-weight: 600;
}

.headerButton>a>p{
    color: var(--header-sub-title);
}

.accordion{
    background: var(--header-bg);
    width: 150px;
    height: 30px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line{
    width: 25px;
    height: 1px;
    background: black;
    z-index: 1;
}

#line1{
    margin-bottom: 5px;
}

@media (max-width: 999px) {
    .accordion{
        display: none;
    }

    .right>nav>ul{
        display: none;
    }

    .content {
        background: transparent;
        height: auto;
    }

    .responsiveMenu{
        display: flex;
        cursor: pointer;
    }

    header {
        transform: translateY(0);
        padding: 10px;
        height: fit-content;
        width: calc(100% - 20px); /* Compensa il padding laterale */
        margin: 0 auto; /* Centra l'header */
        box-sizing: border-box; /* Importante! */
    }

    .resButton{
        display: flex;
        align-items: center;
        background: var(--resp-header-button-bg);
        padding: 10px 18px;
        border-radius: 20px;
        height: 40px;
        transition: .3s;
    }

    .resButton:hover{
        background: var(--resp-header-button-bg-a);
    }

    .resButton>h2{
        font-size: 18px;
    }

    .respBlock{
        position: absolute;
        padding: 40px 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-top: 60px;
        background: var(--header-block-bg);
        width: 100%;
        opacity: 0;
        transform: translateY(10%);
        transition: .4s ease-in-out;
    }

    .respBlock>ul{
        list-style: none;
        width: 100%;
    }

    .respBlock>ul>li{
        width: 100%;
        transition: .3s;
    }

    .respBlock>ul>li>a{
        text-decoration: none;
        color: var(--header-title);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .respBlock>ul>li>a>h4{
        text-transform: uppercase;
        font-size: 30px;
    }

    .respBlock>ul>li:hover{
        background: #b3b3b3;
        border-radius: 15px;
        padding: 5px 5px 10px 10px;
    }

    #respHeaderLink1,
    #respHeaderLink2,
    #respHeaderLink3,
    #respHeaderLink4 {
        margin-bottom: 25px;
    }

    .dot{
        background: black;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: none;
    }
}