<!-- Allora qua non dovete mettere la struttura dell'header, questo verrà contenuto all'interno del tag header, quindi non ripetetelo-->
<div class="left">
    <img src="" alt="">
    <h1>BiteLine</h1>
</div>
<div class="right">
    <nav>
        <ul>
            <li><a href="" class="headlink" id="headlink1">Homepage</a></li>
            <li><a href="" class="headlink" id="headlink2">Ordina Ora</a></li>
            <li><a href="" class="headlink" id="headlink3">Chi siamo</a></li>
            <li><a href="" class="headlink" id="headlink4">Contattaci</a></li>
            <li><a href="" class="headlink" id="headlink5">Accedi????</a></li>
        </ul>
    </nav>
</div>    
