<!-- Allora qua non dovete mettere la struttura dell'header, questo verrà contenuto all'interno del tag header, quindi non ripetetelo-->

<div class="content">
    <div class="left">
        <img src="" alt="">
    </div>
    <div class="right">
        <nav>
            <ul>
                <li>
                    <div class="headerButton" id="headerButton1">
                        <a href="/BiteLine/Frontend/pages/index.html" id="link1Head">
                            <h5>Homepage</h5>
                            <p>Brevissima Descrizione</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="headerButton" id="headerButton2">
                        <a href="/BiteLine/Frontend/pages/location/OrderNow/OrderPage.html">
                            <h5>Ordina Ora</h5>
                            <p>Brevissima Descrizione</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="headerButton" id="headerButton3">
                        <a href="">
                            <h5>Contattaci</h5>
                            <p>Brevissima Descrizione</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="headerButton" id="headerButton5">
                        <a href="">
                            <h5>Profilo</h5>
                            <p>Brevissima Descrizione</p>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="responsiveMenu">
                <div class="resButton" id="respMenuButton">
                    <h2 id="respButtonText">MENU</h2>
                </div>
                <div class="respBlock" id="respBlock1">
                    <ul>
                        <li>
                            <a href="" id="respHeaderLink1">
                                <h4>Homepage</h4>
                                <div class="dot" id="dotH"></div>
                            </a>
                        </li>
                        <li>
                            <a href="" id="respHeaderLink2">
                                <h4>Ordina Ora</h4>
                                <div class="dot" id="dotON"></div>
                            </a>
                        </li>
                        <li>
                            <a href="" id="respHeaderLink3">
                                <h4>Contattaci</h4>
                                <div class="dot" id="dotWH"></div>
                            </a>
                        </li>
                        <li>
                            <a href="" id="respHeaderLink5">
                                <h4>Profilo</h4>
                                <div class="dot" id="dotP"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

</div>
<div class="accordion">
    <div class="line" id="line1"></div>
    <div class="line" id="line2"></div>
</div>
